{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action = "" method="POST">
    {% csrf_token %}
    Your name: <br>
    <input type="text" name="full_name"><br>
    <br>
    
    Your email: <br>
    <input type="text" name="email"><br>
    <br>
    
    Your comments: <br>
    <textarea name="message" rows="15" cols="50"></textarea><br><br>
    
    <input type="submit" value="Submit">
     
</form>